.loginWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

.card {
  border: none;
  box-shadow: 0px 0px 3px 0px #bbb4b4;
  width: 65%;
  border-radius: 10px;
  padding: 10px;
}

input {
  margin-bottom: 10px;
  width: 90%;
  border-radius: 5px;
  padding: 10px;
  border: none;
  border: 1px solid grey;
  font-size: 15px;
}

.btn {
  border: 1px solid lightsteelblue;
  border-radius: 10px;
  padding: 6px 15px;
  font-size: 18px;
  background: steelblue;
  color: white;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}
