.App {
  text-align: center;
}

.wrapper ul {
  list-style: none;
  background: black;
  margin: 0px;
  padding: 15px;
  text-align: right;
}

.wrapper ul li {
  display: inline-block;
  padding: 0px 15px;
}

.wrapper ul li a {
  text-decoration: none;
  color: white;
}